---
import WrapperWithLoading from "../components/WrapperWithLoading";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Grayson Speas</title>
  </head>
  <body class="bg-black text-white">
    <WrapperWithLoading client:load />
  </body>
</html>
