---
import Wrapper from "../components/Wrapper.tsx";
import TranslateHide from "../components/translator/TranslateHide.tsx";
const showLoading = false; // Set to true if you want to show the loading spinner
---

<html lang="en">
  <head>
    <title>Fishing Game</title>
    <link rel="icon" href="/fish_favicon.png" type="image/png" />
  </head>
  <body class="bg-black text-white min-h-screen">
    <Wrapper client:load useLoading={showLoading}>
      <TranslateHide client:load />
  </body>
</html>
