---
import Wrapper from "../components/Wrapper.tsx";
import TranslateHide from "../components/translator/TranslateHide.tsx";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Grayson Speas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <!-- Hydrate wrapper without loading overlay -->
    <Wrapper client:load showLoader={false}>
      <TranslateHide client:load />
    </Wrapper>
  </body>
</html>