---
import WrapperWithLoading from "../components/heropage/WrapperWithLoading";
import TranslateHide from '../components/translator/TranslateHide.tsx';
// Toggle animation
const showLoading = false;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Grayson Speas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <WrapperWithLoading client:load useLoading={showLoading} />
  </body>
  <TranslateHide client:load />
</html>