---
import WrapperWithLoading from "../components/WrapperWithLoading";

// Toggle animation
const showLoading = false;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Grayson Speas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <WrapperWithLoading client:load useLoading={showLoading} />
  </body>
</html>