---
import ResetPasswordComp from '../components/ResetPasswordComp.tsx';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Reset Password</title>
  </head>
  <body>
    <main>
      <ResetPasswordComp client:load />
    </main>
  </body>
</html>