---
import VerifyEmailComp from '../components/auth/VerifyEmailComp.tsx';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Email Verification</title>
  </head>
  <body>
    <main>
      <VerifyEmailComp client:load />
    </main>
  </body>
</html>